.layout-nav{
  background: #000000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;  
}

.img-logo{
  width: 70%;
}

.btn-favorite-comics{
  margin: 100px 0 0 400px;
  width: 100px;
  height: 50px;
  padding: 20px;
  color: var(--black0);
  vertical-align: top;
  font-weight: bold;
  border-radius: 10px;
}

.favorites-title{
  color: white;
}